* {
	box-sizing: border-box;
}

body {
	background-color: rgb(0,0,0);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

html, body, .wrapper{
	height:100%;
}

a:link {
    text-decoration: none;
	color: rgb(255,255,255);
}

a:visited {
	text-decoration: none;
	color: rgb(255,255,255);
}

.wrapper {
    display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 10fr 1fr;
	grid-template-areas: 'nav'
						 'header'
                         'content'
						 'footer';
}

.nav {
	grid-area: nav;
	list-style-type: none;
	font-family: Arial, sans-serif;
	text-align: right;
	padding: 0px 1px 0px 1px;
	margin: 0px 1px 0px 1px;
}

.nav li {
	display: inline;
	margin: 0em;
	padding: 0em 1em 0em 1em;	
}

.header {
	grid-area: header;
	position: relative;
	bottom: 1em;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: .6rem;
	text-align: left;
	color: rgb(255,255,255);
	align-self: start;
	padding: 0px 1px 0px 1px;
	margin: 0px 1px 0px 1px;
}

.content {
	grid-area: content;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

 .content img {
	 max-width: 500px;
 }

.footer {
	grid-area:footer;
	font-family: Arial, sans-serif;
	text-align: center;
	background-color: rgba(52,66,66,.5);
	align-self: end;
}